In [ ]:
# python : 문자열 처리
# - 검색 , 분리(split) , 추출 , 대체, 결합 , 공백처리
# - 문자열의 기본자료구조는 배열
# -

In [ ]:
# 정규표현식 ( regular expression ) : re
# - 패턴으로 처리
# - 모든 언어에서 같은 방식으로 처리함
# -

In [ ]:
smiles = "C(=N)(N)N.C(=0)(0)0"  # 1차원 배열
print(smiles[0])
print(smiles[1])
print(smiles[-1])
print(smiles[1:5])
print(smiles[10:-4])

In [ ]:
s = "That that is is that that is"
print(s.count("t"))
s = s.lower() # 소문자로 바꿈   
print(s)
print(s.count("t"))   # 문자열에서는 대소문자를 구분함
print(s.count("that"))
s.find("that")  # 단어별

In [ ]:
print('C:\\nowhere')
print(r'C:\\nowhere')  # 정규표현식   # 3버전은 기본적으로 유니코드 사용 
# * 유니코드 : 전세계 언어를 표현하기 위해 사용( 2바이트를 이용 )
print(u'Hello, world!') # unicode 2.7버전

In [ ]:
# pandas도 문자열 함수 지원  => 후처리가 편리함( series나 pandas로 리턴해줌)
import pandas as pd
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin']) 
monte

In [ ]:
print(monte.str.lower())
print("=================================")
print(monte.str.len())
print("=================================")
print(monte.str.startswith('T'))
print("=================================")
print(monte.str.split())
print("=================================")

In [ ]:
# 정규표현식
# [] : 선택  +  여러개
# extract : 추출
# ^ : 처음부터
# [^] : 부정
# .* : 여러개
# $ : 끝
print(monte)
print("=================================")
print(monte.str.extract('([A-Za-z]+)',expand = False))  # 대문자 A-Z 소문자 a-z
print("=================================")
print(monte.str.findall(r'^[^AEIOU].*[^aeiou]$'))  # 대분자 AEIOU가 아니고, 끝이 소문자 aeiou가 아닌것

In [ ]:
import re  # Regular expression 패키지
text = "문의사항이 있으면 032-232-3245 으로 연락주시기 바랍니다."
 # \d : 숫자한개
 # \d{} : 개수
 # 패턴을 먼저 컴파일 후, 함수 적용
regex  =  re.compile(r'\d\d\d-\d\d\d-\d\d\d\d')
regex = re.compile(r'(\d{3})-(\d{3})-(\d{4})') # () : 하나의 단위
matchobj = regex.search(text)
phonenumber  = matchobj.group()   # 여러 개가 나오는 상황이 있을 수 있음
print(phonenumber)

In [ ]:
import numpy as np
s4 = pd.Series(['A','B','C','Aaba','Baca', np.nan,'CABA','dog','cat'])
print(s4)
s4.str.contains('A', na = False)  # 포함하는지 여부  /  True, False 출력

In [ ]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

import re

data={'Dave':'iadslba@naver.com', 'Steve':'steve@gmail.com', 'Rob':'rob', 'Wes':np.nan}
data=Series(data)
print(data)

In [ ]:
print(data.isnull())
print("네이버\n", data.str.contains('naver'))

print("=========================================")
# 이메일 출력하기
# 정규표현식
# . : 한개를 의미
# \. : 한개가 아니고 .(dot)으로 입력
pattern = r'[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]'  
matches = data.str.match(pattern, flags = re.IGNORECASE) # flags = 대소문자 구문하지 말것
print("match결과 : \n" , matches)  # T, F로 출력

print("=========================================")
matches = data.str.findall(pattern, flags = re.IGNORECASE)
print("findall 결과 : \n", matches)

In [ ]:
# one - hot encoding

s = pd.Series(['a','a|b',np.nan,'a|c'])
print(s)
s.str.get_dummies(sep ='|')  #seperate : 분리 
# 0행은 a만 있음 => a만 1
# 1행은 a,b만 있음

In [ ]:
df = pd.DataFrame(['한글','미국','일본?'], columns = ['text'])
df
# 파생변수( r에서 mutate )
df['text_ength'] = df['text'].map(len)  # series에 함수 적용 
# * map(len) : 함수를 매개변수로 전달할 때는 함수 실행이 아니고, 함수 위치를 전달하는 것 
#              => len() 불필요
print(df)

In [ ]:
data = {'name' : ['하늘이','찬호박','우리야','함께가','하성공'], 'age' : [40,50,30,20,70],
        'preScore': [14,28,39,25,32], 'postScore' : [20,90,55,65,79]}
df = pd.DataFrame(data,columns = ['name','age','preScore','postScore'])
print(df)

print(df['age'].sum())
print(df['preScore'].mean())
print(df['preScore'].cumsum())
print("데이터 설명")
print(df['preScore'].describe())
print("데이터 끝")
print(df['preScore'].var())
print(df['preScore'].std())
print(df['preScore'].skew())    # 왜도 : 기준 :0  ( 좌우대칭 )
print(df['preScore'].kurt())    # 첨도 : 기준 : 3  ( 정규분포 )

In [ ]:
df = pd.DataFrame({'two' : pd.Series(np.random.randn(3),   index=['c', 'b', 'a']),
                   'one' : pd.Series(np.random.randn(4),   index=['d', 'b', 'c', 'a']),
                   'three' : pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})
print(df)
row = df.iloc[1]
print(row)
column = df['two']
print(column)

In [ ]:
print(df.corr()) # correlation : 상관계수 행렬
# 행과 열의 이름은 열변수이름 
# 상관계수행렬은 정방행렬, 대칭행렬 => 고유값분해
# ==> 고유값(value 3개) + 고유 벡터(3,3)
# * 고유벡터 (3,3) -> 3개의 방향축 / 모두 직교함  크기는 1
# 고유값 : 고유벡터 방향으로 크기를 나타냄
# 고유값에서 가장 값이 큰 것 => 주성분 축 => 변수 선택(값이 낮은 것을 제외함)   =====: PCA

In [ ]:
print(df.cov())  # 공분산행렬 =  ((x-xbar)*(y-ybar)) / n-1( 자유도 )   ==> 자기 자신을 제외해서 n-1 ?

In [ ]:
df1 = pd.DataFrame({'col':['foo', 0, np.nan]})
print(df1)
df2 = pd.DataFrame({'col':[np.nan, 0, 'foo']}, index=[2,1,0])
print(df2)
df3 = pd.DataFrame({'col':[1, 2, 3]}, index=[2,1,0]) 
df3

In [ ]:
#print(df2.sort_values(by = ['col'])) #정렬기준이 안맞아서 정렬안됨
print(df3.sort_values(by = ['col']))

In [ ]:
print(df2.sort_index())

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
iris = sns.load_dataset('iris')   # 변수 : 5개  마지막 변수 : speices
print(iris.head())
iris.sepal_length[:20].plot(kind='bar', rot = 0)  # rotate 
plt.show()

In [ ]:
names = ['한국성','공하자','희망이','꿈군다','아리랑']
births = [25,30,38,28,31]
BabyDateSet = list(zip(names,births))
print(BabyDateSet)
df = pd.DataFrame(data= BabyDateSet, columns = ['Names','Births'])
print(df)
# index 저장 -> 열로 나타날 수 있음 ==> false 지정
# header =  열이름 저장
df.to_csv("births2020.csv",index = False, header = True,
         encoding = "UTF-8")
Location  =  './births2020.csv'
df =  pd.read_csv(Location)   # 자동으로 dataframe으로 생성
print(df)
df = pd.read_csv(Location, names = ['Names','Birth'],
                encoding = "UTF-8")
print(df)

In [ ]:
pim = pd.read_csv("diab.csv")
pim.head()
# unnamed:0 이 중복됨 ==> 저장할때 index =true를 통해 인덱스 명도 함께 저장된 것
# => index_col 사용

pim = pd.read_csv("diab.csv", index_col=0)
pim.head()

In [ ]:
print(pim.describe())

In [ ]:
# 행열 단위로 
pim.apply(type)

# 행열별로 요소 적용
pim.applymap(type).head(1)

In [ ]:
pim.dtypes

In [ ]:
print("데이터갯수 : ", pim.count())
print(pim.shape)
print(pim[pim["bmi"]<30].shape)

In [ ]:
print(pim.mean()) # 열별로 평균

In [ ]:
import matplotlib.pyplot as plt
pim["bmi"].hist()   # histogram(부동소수점:float) 과 barplot(이산적:int) 의 차이
plt.show()
pim["bmi"].plot(kind = "kde")  # 데이터의 수가 적을 때, interpolation(보간법)사용 ( 없는 자리 추정 )
plt.show()

In [ ]:
print(pim.head())

In [ ]:
pim.groupby("type") # DataFrameGroupBy  -> 내부적으로 표현되는 객체
# 실제 값을 보기위해 집계함수 사용
# sum, mean , ...
pim.groupby("type").mean()
pim.groupby('type').count()
pim.groupby('type').agg([np.mean,np.std]) # agg : aggregate

In [ ]:
print(np.mean(pim[pim["type"] =="Yes"]["skin"]))

In [ ]:
print(np.std(pim[pim['type']=='Yes']['skin']))

In [ ]:
weather_2012_final = pd.read_csv("we_2012.csv")
weather_2012_final.head()
#pandas는 시계열 분석을 지원, DataTimeIndex를 지원
#date에 대한 내용처럼 value에 있는것보다, index로 검색을하면 훨씬 빠르기때문에,
# 검색할때 필요한 내용은 index로 사용하는 편이 좋음

In [ ]:
# 시간데이터 DateTimeIndex를 만드는 방법
# date_range() : 일정한 주기와 기간을 정해서 만들고 싶을때
# to_datetime() : 기본에 있는 시간데이터를 변환하고 싶을때

In [ ]:
index = pd.to_datetime(weather_2012_final['Date/Time'])
weather_2012_final.index =  index
weather_2012_final.head()
del(weather_2012_final["Date/Time"])
print(weather_2012_final.shape)
weather_2012_final.head()

In [ ]:
bigFilePath = "we_2012.csv"
# 대량의 데이터인 경우, 잘라서 불러오기  ( 오류 예방 )
chunker = pd.read_csv(bigFilePath, chunksize=1000,
                     index_col = "Date/Time", encoding = " UTF-8")  #date같은 요소는 인덱스로 넣으면 자동으로 datetime으로 바뀜
weather_2012_final = pd.concat([x for x in chunker],       
                              ignore_index = True)

In [ ]:
print(weather_2012_final.describe())
weather_2012_final.dtypes

In [ ]:
weather_2012_final['Temp (C)'].plot(figsize = (30,12))

In [ ]:
weather_2012_final.boxplot()

In [ ]:
print("결측치   :   \n", weather_2012_final.count())

In [ ]:
print(weather_2012_final.isnull().values.sum())  # null의 개수

In [ ]:
print(weather_2012_final.isnull().any())  # 하나라도 -> True

In [ ]:
# axis = 1  ==> 행
weather_2012_final =  weather_2012_final.dropna(axis = 1,  how = "any")  # 관측치 
weather_2012_final.head()

In [ ]:
# 문제 : 각 변수의 min-max값의 차를 출력하세요
#방법1
print(weather_2012_final.iloc[:,:5].max())
print(weather_2012_final.iloc[:,:5].min())

weather_2012_final.iloc[:,:5].max() - weather_2012_final.iloc[:,:5].min()

In [ ]:
#방법2
f = lambda x : x.max() -x.min()
#print("함수 객체의 열 적용(행방향)", weather_2012_final.apply(f))  # 문자열 column이 있어서 안됨
weather_2012_final.dtypes

weather_2012_final_num = weather_2012_final.iloc[:, :6]
print("함수 객체의 열 적용(행방향)", weather_2012_final_num.apply(f))

In [ ]:
#방법3
# ptp ( point to point ) : min-max
print("함수 객체의 열 적용(행방향)", weather_2012_final_num.apply(np.ptp))

In [ ]:
import glob
import os
import pandas as pd

filePathList  =  glob.glob("./same__files/*.csv") # 한번에 읽을 때 사용  glob.glob ~ *
print(filePathList)
temp = os.path.basename(filePathList[0])   # basename : 파일.확장자
print(temp)

temp = os.path.splitext(temp)[0]
print(temp)
os.path.splitext(temp)

In [ ]:
# data_ 1763이라는 변수로 리딩 : vars() 메모리에 있는 변수
for i in range(0, len(filePathList)):
    temp = os.path.basename(filePathList[i])
    temp = os.path.splitext(temp)[0]
    vars()["data_" + str(temp)] = pd.read_csv(filePathList[i])   # vars[1] = 2  -> 1이라는 변수 이름으로 2 데이터 생성( key_value )

In [ ]:
print(data_1763.head(3))
print(data_1770.shape)

In [ ]:
df = pd.read_csv("sales.csv")
df.head()

# 1) => 정수를 부동소수점으로 인식
# 2) => $ 제거 필요
# 3) => % 제거 필요
# 4) => 숫자열의 문자 제거
# 5) => Y : 1 , N : 0  boolean형으로 변환

In [ ]:
'''df.iloc[:,0] =  df.iloc[:,0].apply(lambda x : int(x) )
df
df.iloc[:,[2,3]]
df.iloc[:,2]
df.iloc[:,3]
df.iloc[:,2] = df.iloc[:,2].str.split('$')[1]
df.iloc[:,3] = df.iloc[:,3].str.split('$')[1]'''

In [ ]:
# 답
df['Customer Number'] = df["Customer Number"].astype('int')
df

In [ ]:
df['2017'] = df['2017'].map(lambda x : x.replace('$',''))
df['2017'] = df['2017'].map(lambda x : x.replace(',',''))
df['2017'] = df['2017'].astype("float")

df['2016'] = df['2016'].str.replace('$','')
df['2016'] = df['2016'].str.replace(',','')
df['2016'] = df['2016'].astype('float')
df

In [ ]:
df['Active'] = df['Active'] =='Y' # 같으면 True, 아니면 False
df

In [ ]:
def convert_percent(val) :
    new_val = val.replace("%", '')
    return float(new_val) / 100
df['Percent Growth'] = df['Percent Growth'].map(convert_percent)
df

In [ ]:
# 문자하고 숫자가 함께 있는 경우

df['Jan Units'] = pd.to_numeric(df['Jan Units'],
                               errors = 'coerce')  #ignore
df

In [ ]:
df.dtypes

In [ ]:
df

In [ ]:
# gender 열과 resident 열을 출력하세요.
# price 평균, age는 합계를 계산하세요.
df = pd.read_csv("dataset.csv")
df.head()
print(df.columns.tolist())  # 컬럼에 공백이 있음 
df.columns = df.columns.str.strip() 
print(df.columns.tolist())

In [ ]:
df.dtypes
#df['age'] = pd.to_numeric(df['age'])  #==> 공백이 있어서 바뀌지 않음
df['age'] = df['age'].astype(str).str.strip()
df['age'] = pd.to_numeric(df['age'], errors = 'ignore')
df.dtypes

df['price'] = df['price'].astype(str).str.strip()
df['price'].fillna('', inplace = True)
df['price'] = pd.to_numeric(df['price'], errors = 'ignore')
df.dtypes

In [ ]:
df['price'].mean()
df.head()

In [ ]:
import pymysql
import numpy
import pandas as pd

In [ ]:
conn = pymysql.connect(host='192.168.1.248', port = 3306,
                      user = 'root',
                      password = '123', db = 'acornschool',charset = 'utf8mb4',
                      cursorclass= pymysql.cursors.DictCursor)

In [ ]:
cursor = conn.cursor()
cursor.execute("select * from sungjuk") # Recordset
rez = cursor.fetchall()
rez

In [ ]:
df =  pd.DataFrame(rez)
print(df.describe())
print(df.dtypes)
print(df.shape)

In [ ]:
%matplotlib inline
df.plot.bar()

In [ ]:
df_numeric = df[['eng','kor','mat']]
print(type(df_numeric))
print(df_numeric.dtypes)
df_numeric.apply([sum,max])

In [ ]:
df_numeric.apply([sum,max], axis = 1)

In [ ]:
# 문제 : 
# 학년과 반 필드를 추가해라
# 학년과 반 정보를 입력하고 학년 반 별 평균을 출력하도록 한다.
df_numeric['ban'] = [1,2]
df_numeric['class'] = [1,1]
df_numeric

In [ ]:
# groupby와 pivot_table의 차이
# groupby는 기준되는 열을 가져옴 , pivot은 인덱스와 컬럼에 올 기준을 적용 
pd.pivot_table(df_numeric, index = ['ban'],
               columns = ['kor','eng','mat'], aggfunc = [np.mean])

In [ ]:
# 데이터베이스 저장 시, 이미 table이 존재하는 경우가 있음
# - fail, replace( 있는것 대체 ), append( 기존테이블에 추가 )
# - 데이터 베이스는 생성이 되어 있어야함

In [ ]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()
titanic.describe()

In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import numpy as np
pymysql.install_as_MySQLdb()
import MySQLdb

In [2]:
engine = create_engine(
"mysql+mysqldb://root:"+"123"+"@192.168.1.248/acornschool", encoding = 'utf-8')
conn = engine.connect()

In [ ]:
# 테이블 이름 지정 , 
titanic.to_sql(name = "titanic", con = engine, if_exists='replace',index = False)

In [ ]:
SQL = "DESC titanic"
df = pd.read_sql(SQL,conn)
df

In [3]:
# - wine데이터를 로딩 -> db에 wine이라는 테이블 이름으로 저장
# - 다시 읽어오세요

df = pd.read_csv("wine.csv", index_col = 0)
df.head()
df.describe()
df.to_sql(name = 'wine', con = engine, if_exists='replace', index = False)

In [4]:
varieties = pd.DataFrame(df.iloc[:,0])
varieties['0'].unique() # 종류

SQL = 'select * from wine'
df = pd.read_sql(SQL, conn)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [5]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters = 3)  # 군집
#fit모델을 생성 _ predict 예측
varieties['labels'] = kmeans.fit_predict(df)  # 예측은 0부터
varieties['labels']

0      1
1      1
2      1
3      1
4      2
      ..
173    2
174    2
175    2
176    2
177    0
Name: labels, Length: 178, dtype: int32

In [6]:
varieties['labels'] += 1
# 교차 분석표( 카운트를 해서 )
pd.crosstab(varieties.iloc[:,0], varieties['labels'])
# 100 : 일치한다

labels   1   2   3
0
1        0  46  13
2       50   1  20
3       19   0  29

In [29]:
import requests      # 웹페이지 획득 ( 웹브라우저 )
import pandas as pd  
from bs4 import BeautifulSoup
import re

class HTMLTableParser :
    def parse_url(self,url) :
        response = requests.get(url)  # 주소를쓰면 데이터를 가져옴( http://naver.com)
        # html tag를 파싱해서 계층적으로 데이터를 보유
        soup = BeautifulSoup(response.text, 'html.parser')
        # html tag  id(웹페이지에서 유일), name(중복가능, 서버)
        return [(table('id'), self.parse_html_table(table))
               for table in soup.find_all('table')]
    
    def parse_html_table(self,table) :
        n_columns = 0  # 몇 열  => 저장공간 확보
        n_rows = 0     # 몇 행
        columns_names = [] # 열 이름 저장
        #메모리 확보를 위한 for문( 행, 열 )
        for row in table.find_all('tr'):
            td_tags = row.find_all('td')
            if len(td_tags) > 0:
                n_rows += 1  # 행 수 카운트
                if n_columns == 0 :  # 첫 
                    n_columns = len(td_tags)  # 열 개수 결정
            th_tags = row.find_all('th')
            if len(th_tags) > 0 and len(columns_names) == 0:
                for th in th_tags: # 컬럼 이름을 결정
                    columns_names.append(th.get_text())
        if len(columns_names) > 0 and len(columns_names) != n_columns :  # tr수와 th 비교
            #강제로 예외 발생
            raise Exception("컴럼 타이블 컴럼 숫자와 안맞음")
        columns = columns_names if len(columns_names) > 0 else range(0, n_columns)
        df = pd.DataFrame(columns = columns, 
                         index = range(0, n_rows)) 
        row_marker = 0 # 행 수에 따라서
        
        #데이터 확보를 위한 for문
        for row in table.find_all("tr"):
            columns_marker = 0 # 열 수에 따라서
            columns = row.find_all('td')
            for column in columns:
                re_text = column.get_text().replace('\n','')
                re_text = re_text.replace("\t",'')
                re_text = re_text.replace("\r",'')
                df.iloc[row_marker, columns_marker] = re_text
                columns_marker += 1
            if len(columns) > 0 : # columns가 0보다 크면 데이터가 남아 있다는 뜻
                row_marker += 1  #행 추가
        for col in df:
            try:
                df[col] = df[col].astype(float)
            except ValueError:
                pass
        return df

In [30]:
date = "2020.01.02"
url_part1 = """http://dart.fss.or.kr/dsac001/search.ax?selectDate="""
url_part2 = """&sort=&series=&mdayCnt=0&currentPage=""" 
url = url_part1 + date + url_part2
hp = HTMLTableParser()  # 인스턴스
table = hp.parse_url(url)[0][1]
table

       시간    공시대상회사                           보고서명      제출인        접수일자  비고
0   18:17       테라셈            불성실공시법인지정예고  (공시변경)  코스닥시장본부  2020.01.02
1   18:15       포티스        [기재정정]주요사항보고서(유상증자결정)        포티스  2020.01.03
2   18:14       포티스               [기재정정]주주총회소집결의        포티스  2020.01.02
3   18:13       포티스    투자판단관련주요경영사항  (경영지배인 선임의 건)      포티스  2020.01.02
4   18:02     원익QnC  타법인주식및출자증권취득결정(종속회사의주요경영사항)      원익QnC  2020.01.02
..    ...       ...                            ...      ...         ...  ..
95  16:26     유안타증권           일괄신고추가서류(기타파생결합사채)      유안타증권  2020.01.02
96  16:24   한올바이오파마               최대주주등소유주식변동신고서    한올바이오파마  2020.01.02
97  16:24    신한금융투자      일괄신고추가서류(파생결합증권-주가연계증권)     신한금융투자  2020.01.02
98  16:24      와이엠씨         [기재정정]주식매수선택권부여에관한신고       와이엠씨  2020.01.02
99  16:23      와이엠씨         [기재정정]주식매수선택권부여에관한신고       와이엠씨  2020.01.02

[100 rows x 6 columns]

In [ ]:
# table 로 구성된 페이지를 찾아서 일반적으로 위의 클레스가 작동 하는지 확인하고
# 실제 파싱한 데이터를 DB에 저장하고 로딩하는 프로그램을 작성하세요~