In [1]:
num1 = 6
num1 += 1
num2 = 7
num2 -= 5
num3 = 8
num3 /= 2
print(num1, num2, round(num3))
num1 = 1
num1 *= 3
num2 = 2
num2 **= 3
print(num1,num2)

7 2 4
3 8

In [5]:
# 3항 연산자
x = -1
ans = 'Non-negative' if x >= 0 else 'Negative'
print(ans)

if x >= 0:
    ans = 'Non-negative'
else :
    ans = 'Negative'
print(ans)

Negative
Negative

In [10]:
city = ""   # ''안에 아무것도 없으면 문자열 False
if city :   # 조건이 참일때만 if문이 실행됨
    print('empty city')
else :
    print('empty')
    
city = " "
if city :  
    print('empty city')
else :
    print('empty')
    
#숫자 False : 0 / list : [] / dict : {} / tuple : ()

empty
empty city

In [17]:
import datetime
dt = datetime.datetime.now()  # 함수는 ()를 사용해야 함
print(dt)
print()
age = input("생년월일을 입력하세요")
year = int(age[0:4])
month = int(age[4:6])
day = int(age[6:])
year_diff = dt.year - year
print(year_diff)
month_diff = dt.month - month
day_diff = dt.day - day
if day_diff < 0 :    # 일 내림 처리
    month_diff -= 1
if month_diff < 0 :  # 월 내림 처리
    year_diff -= 1
print("당신의 나이는   ", year_diff + 1)
if year_diff < 18 :
    print("당신은 미성년자입니다.")
else : 
    print("당신은 미성년자가 아닙니다.")

2019-12-26 10:58:31.290991

생년월일을 입력하세요 19940318

25
당신의 나이는    26
당신은 미성년자가 아닙니다.

In [ ]:
# 데이터 입력 -> 처리( 연산자 ), 제어문( 판단문, 반복문 )
# 반복문 : 하나의 규칙을 여러 데이터에 적용

In [21]:
# for 
# 이전의 for문
# for (i = 0 : i <100 : i++)  --> 인덱스 오버플로우 문제가 발생했음

# for in 문

# 데이터를 이용하는 방법
elements  = ['earth', 'air', 'fire', 'water']
for i in elements:                 # Collections, iteratorm generatorm enumerate
    print(i, end='\n')

earth
air
fire
water

In [ ]:
 # Collections : list, tuple, dict, set  ( 메모리를 차지 함)
 # iteratorm  : range  ( for (i = 0 : i <100 : i++) 와 같은 방법으로 사용   ====  start , end , step )
 # generatorm  : 데이터가 많을때 생성( 데이터를 실시간으로 생성 ==> 메모리를 차지하지 않음 )  
 # enumerate : 맵핑을 해줌 0 : earth, 1 : air , 2 : fire ...

In [33]:
for i in range(5) :
    print(i)
print("="*20)


# 파이썬에서는 오버로딩이 없음 : default 값으로 처리함
for i in range(2,5) :
    print(i)
print("="*20)


for i in range(0, 10 , 2) : #start , end , step
    print(i)
print("="*20)


# 인덱스를 이용하는 방법
for i in range(4) :
    print(i,":", end= ' ')
    print(elements[i])

0
1
2
3
4
====================
2
3
4
====================
0
2
4
6
8
====================
0 : earth
1 : air
2 : fire
3 : water

In [41]:
# range는 객체다.
ra = range(4)
print(ra)

print(list(ra)) # 리스트로 캐스팅

range(0, 4)
[0, 1, 2, 3]

In [45]:
# 범위를 거꾸로 지정
# 방법1
ra = reversed(range(4))
print(ra)

print(list(ra))

# 방법2
print(list(range(5,-1,-1)))  # 5부터 (-1앞) 0까지 -1씩 감소

<range_iterator object at 0x0000022BA76F9630>
[3, 2, 1, 0]
[5, 4, 3, 2, 1, 0]

In [43]:
range?

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [47]:
# 증가변수, 누적변수
sum = 0
for x in range(1,11):
    #sum = sum + x
    sum += x
    print( sum )

1
3
6
10
15
21
28
36
45
55

In [50]:
# 중첩된 for 문
for x in range(2,4) :   
    print(end= '\n')
    for y in range(2,10) : 
        print(x, '*', y , '=', x*y, end='   ')

2 * 2 = 4   2 * 3 = 6   2 * 4 = 8   2 * 5 = 10   2 * 6 = 12   2 * 7 = 14   2 * 8 = 16   2 * 9 = 18
3 * 2 = 6   3 * 3 = 9   3 * 4 = 12   3 * 5 = 15   3 * 6 = 18   3 * 7 = 21   3 * 8 = 24   3 * 9 = 27

In [53]:
# 문제 : 구구단 만들기
for x in range(2,10) :
    print(end = '\n')
    for y in range(2,10) :
        print(y, '*', x, '=', x*y , '\t', end = '   ')

2 * 2 = 4 	   3 * 2 = 6 	   4 * 2 = 8 	   5 * 2 = 10 	   6 * 2 = 12 	   7 * 2 = 14 	   8 * 2 = 16 	   9 * 2 = 18
2 * 3 = 6 	   3 * 3 = 9 	   4 * 3 = 12 	   5 * 3 = 15 	   6 * 3 = 18 	   7 * 3 = 21 	   8 * 3 = 24 	   9 * 3 = 27
2 * 4 = 8 	   3 * 4 = 12 	   4 * 4 = 16 	   5 * 4 = 20 	   6 * 4 = 24 	   7 * 4 = 28 	   8 * 4 = 32 	   9 * 4 = 36
2 * 5 = 10 	   3 * 5 = 15 	   4 * 5 = 20 	   5 * 5 = 25 	   6 * 5 = 30 	   7 * 5 = 35 	   8 * 5 = 40 	   9 * 5 = 45
2 * 6 = 12 	   3 * 6 = 18 	   4 * 6 = 24 	   5 * 6 = 30 	   6 * 6 = 36 	   7 * 6 = 42 	   8 * 6 = 48 	   9 * 6 = 54
2 * 7 = 14 	   3 * 7 = 21 	   4 * 7 = 28 	   5 * 7 = 35 	   6 * 7 = 42 	   7 * 7 = 49 	   8 * 7 = 56 	   9 * 7 = 63
2 * 8 = 16 	   3 * 8 = 24 	   4 * 8 = 32 	   5 * 8 = 40 	   6 * 8 = 48 	   7 * 8 = 56 	   8 * 8 = 64 	   9 * 8 = 72
2 * 9 = 18 	   3 * 9 = 27 	   4 * 9 = 36 	   5 * 9 = 45 	   6 * 9 = 54 	   7 * 9 = 63 	   8 * 9 = 72 	   9 * 9 = 81

In [1]:
# 내장리스트 : 동적으로 데이터 생성
[i for i in range(10)]   # [실행문 + for문]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
{i:  i **2 for i in range(10)}   #dict도 가능

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [5]:
[i ** 2 for i in range(10) if i % 2 == 0 ]  # for문과 if문 결합도 가능

[0, 4, 16, 36, 64]

In [7]:
rows = range(1, 5)
cols = range(10, 15)
vectors = [(r, c) for r in rows for c in cols]
vectors
# for r in rows :
#    for c in cols :
#        (r, c)

[(1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 10),
 (2, 11),
 (2, 12),
 (2, 13),
 (2, 14),
 (3, 10),
 (3, 11),
 (3, 12),
 (3, 13),
 (3, 14),
 (4, 10),
 (4, 11),
 (4, 12),
 (4, 13),
 (4, 14)]

In [10]:
# 문자열 연산자 + , * ( 문자열 더하기, 반복하기 )
# or : 앞이 참이면, 뒤의 것은 계산하지 않음
# True = 1 , False = 0
['3의 배수' * (i%3 == 0) + '5의 배수' * (i%5 == 0) or i for i in range(1, 21)]

[1,
 2,
 '3의 배수',
 4,
 '5의 배수',
 '3의 배수',
 7,
 8,
 '3의 배수',
 '5의 배수',
 11,
 '3의 배수',
 13,
 14,
 '3의 배수5의 배수',
 16,
 17,
 '3의 배수',
 19,
 '5의 배수']

In [11]:
# 점수를 입력 받아 A,B,C,D,F학점으로 출력하시오  ( 점수를 학점으로 mapping )


while True:
    score = int(input("점수를 입력하세요."))
    print("입력 점수 : ", score)
    
    if score >= 90 :
        print("A")
        break
    elif score >= 80:
        print("B")
        break
    elif score >=70:
        print("C")
        break
    elif score >=60:
        print("D")
        break
    else :
        print("F")
        break

점수를 입력하세요. 80

입력 점수 :  80
B

In [18]:
# 번호 이름 국어 영어 수학 점수를 입력하는 프로그램 작성(3명 분)
# 2차원 리스트로 생성하는 것이 좋음
final = []
for i in range(3):
    perA = []
    num = input("번호를 입력하세요")
    name = input("이름을 입력")
    kor = int(input("국어 점수"))
    eng = int(input("영어 점수"))
    math = int(input("수학 점수"))
    perA.append(num)
    perA.append(name)
    perA.append(kor)
    perA.append(eng)
    perA.append(math)
    final.append(perA)
print(final)

번호를 입력하세요 1
이름을 입력 1
국어 점수 1
영어 점수 1
수학 점수 1
번호를 입력하세요 1
이름을 입력 1
국어 점수 1
영어 점수 1
수학 점수 1
번호를 입력하세요 1
이름을 입력 1
국어 점수 1
영어 점수 1
수학 점수 1

[['1', '1', 1, 1, 1], ['1', '1', 1, 1, 1], ['1', '1', 1, 1, 1]]

In [39]:
# 문제 : 합계와 평균을 구해서 추가시켜 보시오. 평균은 소수점 셋째자리에서 반올림하고, 둘째자리까지 표현


final = []
for i in range(3):
    perA = []
    num = input("번호를 입력하세요")
    name = input("이름을 입력")
    kor = int(input("국어 점수"))
    eng = int(input("영어 점수"))
    math = int(input("수학 점수"))
    mean = round((kor+eng+math) / 3,2)
    sumsub = (kor+eng+math)
    perA.append(num)
    perA.append(name)
    perA.append(kor)
    perA.append(eng)
    perA.append(math)
    perA.append(sumsub)
    perA.append(mean)
    final.append(perA)
print(final)

번호를 입력하세요 1
이름을 입력 현
국어 점수 50
영어 점수 60
수학 점수 10
번호를 입력하세요 2
이름을 입력 동
국어 점수 60
영어 점수 50
수학 점수 20
번호를 입력하세요 3
이름을 입력 엽
국어 점수 80
영어 점수 90
수학 점수 50

[['1', '현', 50, 60, 10, 120, 40.0], ['2', '동', 60, 50, 20, 130, 43.33], ['3', '엽', 80, 90, 50, 220, 73.33]]

In [6]:
# 정렬하고 싶은 경우 ( 이름으로 정렬 )
# 기본 데이터 타입 : str, int, float, list, dict, set, tuple
# 파이썬은 모든 것이 객체(변수 + 함수) : 사용자 정의 데이터 타입
print(final.sort())
# 함수를 key로 한다.
print(final[1])
def getKey(a1) :
    return a1[1]
final.sort(key = getKey, reverse = True)
print(final)

None
['2', '동', 30, 40, 50, 120, 40.0]
[['1', '현', 10, 20, 30, 60, 20.0], ['2', '동', 30, 40, 50, 120, 40.0], ['엽', '40', 50, 60, 70, 180, 60.0]]

In [7]:
# lambda 함수 : 무명함수, 간단한 함수를 작성할 때 사용
final.sort(key = lambda row: row[1], reverse = True)
print(final)

[['1', '현', 10, 20, 30, 60, 20.0], ['2', '동', 30, 40, 50, 120, 40.0], ['엽', '40', 50, 60, 70, 180, 60.0]]

In [9]:
len(final[0])

9

In [43]:
# 등수를 입력하는 필드를 추가히시오

final.sort(key = lambda row: row[5], reverse = True)

rank = [1,2,3]
for i in range(len(final)):
    final[i].append(rank[i])
print(final)

len(final[0])
rank  = 0
for i in range(len(final)) :
    rank = rank + 1
    final[i].append(rank)
final.sort(key = lambda row: row[0])
tot_list = ['번호','이름','국어','수학','영어','합계','평균','순위']
for i in range(len(final[0])) :
    print(tot_list[i], end = ' ')
for i in range(len(final)) :
    print(end = '\n')
    for j in range(8) :
        print(final[i][j], end = ' ')

[['3', '엽', 80, 90, 50, 220, 73.33, 1, 1, 1, 1, 1, 1, 1], ['2', '동', 60, 50, 20, 130, 43.33, 2, 2, 2, 2, 2, 2, 2], ['1', '현', 50, 60, 10, 120, 40.0, 3, 3, 3, 3, 3, 3, 3]]
번호 이름 국어 수학 영어 합계 평균 순위

IndexError: list index out of range

In [ ]:
문제 number guess(숫자 맞추기 게임 1:1)
1) computer는 숫자를 랜덤으로 발생시킵니다.( 1 ~ 100 )
2) 사용자는 숫자를 입력
3) 컴퓨터가 낸 숫자와 사용자가 입력한 숫자가 일치하는지 확인하고 일치하면 확인하고 다시 다음게임으로 진행
4) 만약 맞추지 못하면 사용자가 입력한 숫자가 컴퓨터가 가지고 있는 수보다 큰지 작은지 알림
5) 무한 루프로 진행하던 게임은 q가 눌르면 종료
6) 몇 회만에 맞추었는지를 확인하여 출력
7) 총 진행횟수하고 guess회수를 누적시킨다음 평균 시도 횟수 출력

In [47]:
from random import randint
n = randint(1, 101)
count = 0
game = 0

while True:
    num = (input("숫자를 입력하세요."))
    if num.upper() == 'Q':
        break
        
    print("입력 숫자 : ", num)
    if int(num) == n :
        count += 1
        game += 1
        print("게임 : ", game)
        print("시도횟수 : ", count)
        print("정답입니다!", end = "\n\n")
        n = randint(1, 101)
        
    elif int(num) < n :
        print(num, " 보다 큽니다.", end = "\n\n")
        count += 1
        continue
        
    elif int(num) > n : 
        print(num, " 보다 작습니다.", end = "\n\n")
        count += 1
        continue
        
    else :
        break
print(count)
print()

숫자를 입력하세요. 50

입력 숫자 :  50
50  보다 작습니다.

숫자를 입력하세요. 30

입력 숫자 :  30
30  보다 작습니다.

숫자를 입력하세요. 20

입력 숫자 :  20
20  보다 작습니다.

숫자를 입력하세요. 10

입력 숫자 :  10
10  보다 작습니다.

숫자를 입력하세요. 5

입력 숫자 :  5
5  보다 큽니다.

숫자를 입력하세요. 6

입력 숫자 :  6
게임 :  1
시도횟수 :  6
정답입니다!

6

In [51]:
#문제 1 제곱미터로 입력되는 아파트 면적을 평형으로 계산하여 종류 판정
#( 30평을 기준으로 판정 )하는 프로그램 작성
#소형(17) 중소형(25) 중형(30)
#평형수 = 제곱미터 / 3.305
m2 = int(input("제곱미터를 입력하세요. "))
print("입력 값 : ", m2)
s = 17*3.305
ms = 25*3.305
m = 30*3.305
if m2 >= m :
    print("중형")
elif m2 >= ms :
    print("중소형")
else :
    print("소형")

제곱미터를 입력하세요.  120

입력 값 :  120
중형

In [58]:
#문제 2 날 수를 입력하면 이를 초로 변경하는 프로그램 작성
day = 60 * 60 * 24
d = int(input("계산 일을 입력하세요.     일 : "))
print(d * day,"초")

계산 일을 입력하세요.     일 :  8

691200 초

In [62]:
#소득세 계산 : 소득 세율표를 구해보고 이를 이용하여 소득이 들어오면 세금이 
#얼마인지 계산( 연봉, 단순히 세율만 적용 )
# 1천만원 미만 시 , 연봉 9.5% / 1~4천 : 19 % / 4~8천 : 28% / 8천 이상 : 37%
tax = 0.0
income = int(input("(소득을 입력하세요)  소득 :"))
if income >= 80000000 :
    print(income * 0.63," 만원")
elif income >= 40000000 :
    print(income * 0.72," 만원")
elif income >= 10000000 :
    print(income * 0.81," 만원")
else :
    print(income * 0.905," 만원")
    
if income < 10000000:
    tax = income * 0.095
elif income < 40000000:
    tax = 10000000*0.095 + (income-10000000) * 0.19
elif income < 80000000:
    tax = 10000000*0.095 + 30000000* 0.19 + (income-40000000) * 0.28
else :
    tax = 10000000*0.095 + 30000000* 0.19 + 40000000*0.28 + (income - 80000000) * 0.37
print("연봉 : ",income, "  세금 : ",tax ,"\n","세후연봉 : ", income-tax)

(소득을 입력하세요)  소득 : 65000000

46800000.0  만원
연봉 :  65000000   세금 :  13650000.0
 세후연봉 :  51350000.0

In [66]:
#놀이공원 매표소 단체 입장료 계산하기
#조건 : 팀별 인원 구성을 입력( 초등, 청소년, 일반인, 경로대상 )하면 입장료 소견표에
# 정산요금 : 초등 ( 5000원 ), 청소년 ( 10000원 ), 일반인 ( 15000원 ), 경로대상 ( 3000원 )
# 팀별 할인 카드 확인
#카드 없음 : 할인 무, 일반카드 : 10% / VIP : 20%


people = int(input("이용 인원수를 입력하세요."))
child = int(input("만 12세 이하 인원수를 입력하세요."))
teens = int(input("청소년 인원수를 입력하세요."))
elderly = int(input("경로대상 인원수를 입력하세요."))
print("1. 할인없음\n2. 일반카드\n3. VIP")
card = int(input("할인 대상을 선택하세요."))
fee = 5000 * child + 10000*teens + 3000*elderly + 15000*(people-child-teens-elderly)
if card == 1 :
    fee
elif card ==2 :
    fee=fee*0.9
else :
    fee=fee*0.8
print("인원 수(청소년: ",teens,"  어린이:",child, "  경로대상:",elderly,"  일반:",(people-child-teens-elderly))
print("이용요금 : ",fee)

## if문 사용하지 않을때
#select = [fee, fee*0.9 , fee*0.8]
#print("총요금은 ", select[card-1],"원 입니다.")

이용 인원수를 입력하세요. 10
만 12세 이하 인원수를 입력하세요. 1
청소년 인원수를 입력하세요. 1
경로대상 인원수를 입력하세요. 1

1. 할인없음
2. 일반카드
3. VIP

할인 대상을 선택하세요. 2

인원 수(청소년:  1   어린이: 1   경로대상: 1   일반: 7
이용요금 :  110700.0
총요금은  99630.0 원 입니다.

In [72]:
numberOfRows = int(input("숫자를 입력하세요."))
for i in range(numberOfRows):
    for j in range(numberOfRows-i) :
        print('*', end = '')
    print()

숫자를 입력하세요. 10

**********
*********
********
*******
******
*****
****
***
**
*

In [78]:
numberOfRows = int(input("숫자를 입력하세요."))
for i in range(numberOfRows):
    for j in range(numberOfRows-i) :
        print(' '*(numberOfRows-i),'*', end = ''
    print()

숫자를 입력하세요. 10

           *           *           *           *           *           *           *           *           *           *
          *          *          *          *          *          *          *          *          *
         *         *         *         *         *         *         *         *
        *        *        *        *        *        *        *
       *       *       *       *       *       *
      *      *      *      *      *
     *     *     *     *
    *    *    *
   *   *
  *

In [148]:
for i in range(numberOfRows):
    print('{0: ^20}'.format('*'*i))
    
for i in range(numberOfRows):
    for k in range(numberOfRows-i):
        print(" ", end = '')
    for j in range(i+1):
        print('*', end= '')
    for k in range(i):
        print('*', end = '')
    print()

print('')
for i in range(1,11):
    print(' '*(10-i),'*'*(i*2-1))

         *
         **
        ***
        ****
       *****
       ******
      *******
      ********
     *********
          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

          *
         ***
        *****
       *******
      *********
     ***********
    *************
   ***************
  *****************
 *******************

In [112]:
numberOfRows = 10
for i in range(numberOfRows):
    for j in range(i) :
        print(''*j,'*', end = '')
    print()

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *

In [154]:
num = int(round(numberOfRows/2,0))
for j in range(num):
    print('*'*j,''*(num-j))
for i in range(numberOfRows-num):
    print('*'*(num-i))
    
    
print('')
for i in range(1,10):
    print('*'*(i-int(i/6)*(i*2-10)))

*
**
***
****
*****
****
***
**
*

*
**
***
****
*****
****
***
**
*

In [145]:
for j in range(10):
    print('*'*j,' '*(10-j),'*'*j)
for i in range(10):
    for j in range(i):
            print('*'*j,' '*(10-j),'*'*j, end ='')
    print()

*           *
**          **
***         ***
****        ****
*****       *****
******      ******
*******     *******
********    ********
*********   *********


            *           *
            *           ***          **
            *           ***          *****         ***
            *           ***          *****         *******        ****
            *           ***          *****         *******        *********       *****
            *           ***          *****         *******        *********       ***********      ******
            *           ***          *****         *******        *********       ***********      *************     *******
            *           ***          *****         *******        *********       ***********      *************     ***************    ********

*                               *
**                              **
*