In [14]:
import pymysql   

conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

cur.execute('''CREATE TABlE pet (
          id INT NOT NULL AUTO_INCREMENT,
          name VARCHAR(20),
          owner VARCHAR(20),
          species VARCHAR(20),
          sex CHAR(1),
          birth DATE,
          deat DATE,
          PRIMARY KEY (id)) ENGINE=InnoDB AUTO_INCREMENT=1
          ''')
print(cur.description)
conn.close
# 네트워크 접속은 OS에서 관리함
# 연결시켜놓고 놔두면 소모가 되어, 반드시 close를 시켜야함 

sql = '''insert into pet(name, owner,species,sex,birth,death
         values (%s, %s, %s, %s, %s, %s))'''
cur.execute(sql, ("유리", "acorn", "고양이", "f", "2014-1-1", "2016-2-1"))
cur.execute(sql, ("귀염", "acorn", "강아지", "f", "2014-3-1", "2016-9-1"))
cur.execute(sql, ("돌이", "acorn", "곰", "f", "2014-8-1", "2018-2-1"))
conn.commit()

InternalError: (1050, "Table 'pet' already exists")

In [87]:
import pymysql
conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

sql = '''INSERT INTO pet(name, owner,species,sex,birth,deat)
         VALUES(%s, %s, %s, %s, %s, %s)'''
cur.execute(sql, ("유리", "acorn", "고양이", "f", "2014-1-1", "2016-2-1"))
cur.execute(sql, ("귀염", "acorn", "강아지", "f", "2014-3-1", "2016-9-1"))
cur.execute(sql, ("돌이", "acorn", "곰", "f", "2014-8-1", "2018-2-1"))
conn.commit()

cur.executemany(sql,[('대한','민주','cat','f','2001-02-4',None),
                    ('민국','자유','cat','f','2010-03-17',None),
                    ('만세','민주','cat','f','2010-05-13',None),
                    ('하자','민주','cat','m','2010-08-27',None),
                    ('성공','자유','cat','m','2010-03-17','2018-04-29')])
conn.commit()
print(cur.rowcount)
conn.close

5

In [88]:
conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

sql = "select * from pet"  # RecordSet 생성
cur.execute(sql)  
print(cur.rowcount)  # 8
cur.description  # 설명


cur.fetchone()
cur.fetchone()
cur.fetchone()

recs = cur.fetchmany(2)
for rec in recs:
    print(rec)
recs = cur.fetchall()
for rec in recs:
    print(rec)

cur.close()
conn.close()

8
{'id': 35, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'deat': None}
{'id': 36, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'deat': None}
{'id': 37, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'deat': None}
{'id': 38, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 8, 27), 'deat': None}
{'id': 39, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 3, 17), 'deat': datetime.date(2018, 4, 29)}

In [89]:
# 문제 : 생일이 2015-01-01이후인 pet을 출력

conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

sql = "select * from pet WHERE birth >= '2014-1-1'"
cur.execute(sql)
row = cur.fetchall()
for pet in row:
    pet_val = list(pet.values())
    print(pet_val)

#문제 : 유리을 초심으로 업데이트
sql = "update pet set name =%s where name = %s"
cur.execute(sql,("초심","유리"))
conn.commit()
print( cur.rowcount)

# 문제 : 유리를 삭제
sql = "delete from pet where name = %s"
cur.execute(sql,"초심")
conn.commit()
print(cur.rowcount)

cur.close()
conn.close()

[32, '유리', 'acorn', '고양이', 'f', datetime.date(2014, 1, 1), datetime.date(2016, 2, 1)]
[33, '귀염', 'acorn', '강아지', 'f', datetime.date(2014, 3, 1), datetime.date(2016, 9, 1)]
[34, '돌이', 'acorn', '곰', 'f', datetime.date(2014, 8, 1), datetime.date(2018, 2, 1)]
1
1

In [90]:
# 프로시져 테스트( 저장루틴 )

conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

cur.callproc('pet_select')
if cur.rowcount :
    print(cur.fetchall())

    
cur.close()
conn.close()

[{'id': 33, 'name': '귀염', 'owner': 'acorn', 'species': '강아지', 'sex': 'f', 'birth': datetime.date(2014, 3, 1), 'deat': datetime.date(2016, 9, 1)}, {'id': 34, 'name': '돌이', 'owner': 'acorn', 'species': '곰', 'sex': 'f', 'birth': datetime.date(2014, 8, 1), 'deat': datetime.date(2018, 2, 1)}, {'id': 35, 'name': '대한', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2001, 2, 4), 'deat': None}, {'id': 36, 'name': '민국', 'owner': '자유', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 3, 17), 'deat': None}, {'id': 37, 'name': '만세', 'owner': '민주', 'species': 'cat', 'sex': 'f', 'birth': datetime.date(2010, 5, 13), 'deat': None}, {'id': 38, 'name': '하자', 'owner': '민주', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 8, 27), 'deat': None}, {'id': 39, 'name': '성공', 'owner': '자유', 'species': 'cat', 'sex': 'm', 'birth': datetime.date(2010, 3, 17), 'deat': datetime.date(2018, 4, 29)}]

In [91]:
# 문제  : insert를 하는 프로시져를 생성한 다음
# 데이터를 추가하세요
data = ("마음이", "acorn","백구","f","2018-01-02","2018-11-04")

conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

cur.callproc('pet_insert',data)
conn.commit()
cur.close()
conn.close()

In [102]:
# 문제 : 이름을 update 하는 프로시져를 작성하고
# 마음이를 마음으로 수정 

conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

data = ("마음","마음이", 0)
cur.callproc('per_update1',data)
cur.execute('select @_per_update1_2') # _0 : 마음이 / _1 : 마음 _3 : res값( 저장루틴에 작성 -   0이면 성공 2면 실패 )
result = cur.fetchone()
print(result)
print(result['@_per_update1_2']) # key 데이터 형식
if result['@_per_update1_2'] == 2:
    print("수정할 이름이 없습니다.")
else :
    print("성공적으로 수정되었습니다.")
conn.commit()
cur.close()
conn.close()

{'@_per_update1_2': 2}
2
수정할 이름이 없습니다.

In [103]:
conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

data = ("귀염",0)
cur.callproc("pet_delete", data)
cur.execute("select @_pet_delete_1")
result = cur.fetchone()
print(result['@_pet_delete_1'])
if result['@_pet_delete_1'] == 2:
    print("삭제할 이름이 업습니다.")
else : 
    print("삭제완료")
cur.close()
conn.close()

0
삭제완료

In [110]:
conn = pymysql.connect(host ="192.168.1.245",
                      user = "root",
                      port = 3306,
                      password = "hyeon0318!",
                      db = "acornschool",
                      charset = "utf8mb4",
                      use_unicode = True,
                      cursorclass = pymysql.cursors.DictCursor)  # dictcursor : key data형식으로 데이터를 다루겠다
cur = conn.cursor()

try:   # Exception 예외처리 : 프로그램은 지속적으로 실행되어야한다.
    data = ("귀염",0)
    cur.callproc("pet_delete", data)
    cur.execute("select @_pet_delete_1")
    result = cur.fetchone()
    print(result['@_pet_delete_1'])
    if result['@_pet_delete_1'] == 2:
        print("삭제할 이름이 업습니다.")
    else : 
        print("삭제완료")
except:
    conn.rollback()
cur.close()
conn.close()

0
삭제완료

In [130]:
class Student:  # 1인분의 데이터 입력 클래스
    def __init__(self) :
        self.bunho = 0
        self.name =''
        self.kor =0
        self.mat =0
        self.eng = 0
        self.total =0
        self.average =0
        self.grade = ""
    
    def inputData(self) :
        self.name = input("이름 : ")
        self.kor = eval(input("국어 점수 : "))
        self.mat = eval(input("수학 점수 : "))
        self.eng = eval(input("영어 점수 : "))
        
    def calc_total_average(self) :
        self.total = self.kor + self.mat + self.eng
        self.average = self.total / 3
        self.grade = self.calcSemGrade()
    
    def calcSemGrade(self) :
        if self.average >= 90 :
            return 'A'
        elif self.average >= 80 :
            return 'B'
        elif self.average >= 70 :
            return 'C'
        elif self.average >= 60 :
            return 'D'
        else :
            return 'F'
        
    def __str__(self) :
        return "%5s %5s %6s %6s %6s %7s %7s %s" % (self.bunho, self.name,self.kor,
                                                  self.mat, self.eng, self.total,
                                                  self.average, self.grade)
    def __cmp__(self, other):
        return self.name == other.name
    
    def __call__(self, other):  # 클래스를 함수처럼 사용하고자 할 때 오버라이딩
        st = []
        for student in other:
            stp = Student()
            stp.name = student[0]
            stp.kor = student[1]
            stp.eng = student[2]
            stp.mat = student[3]
            st.append(stp)
        return st

In [131]:
class maria:  # DB 클래스
    schoolname = "에이콘 아카데미"
    def __init__(self):
        self.conn = pymysql.connect(host='192.168.1.245', port=3306, user='root',
                           password='hyeon0318!',db='acornschool', charset='utf8',
                                    autocommit=True)
        cor = self.conn.cursor()
        cor.execute("SHOW TABLES")
        tables = cor.fetchall()
        c = []
        for i in tables:
            if  i == ('sungjuk',):   #★★★★★★★★★★★★★★★★   , 가 없으면 에러남
                c.append(i)
        if len(c) != 0:
            sungjuk_table = "SELECT * FROM sungjuk"
            cor.execute(sungjuk_table)
            print('테이블이 있습니다. ')
        else:
            cor.execute("CREATE TABLE sungjuk (name VARCHAR(20), kor INTEGER(20),  mat INTEGER(20),eng INTEGER(20))")
            print('sungjuk테이블을 생성하였습니다. ')
    def __del__(self):
        self.conn.close()

    def selectdb(self ):
        cur = self.conn.cursor()
        cur.callproc("sungjuk_select")
        if (cur.rowcount):
            stu = list(cur.fetchall())
        else :
            stu = 0;
        cur.close()
        return stu
   
    def insertdb(self,name, kor, mat, eng):
        cur = self.conn.cursor()
        args = (name, kor, mat, eng)
        cur.callproc("sungjuk_insert",args)
        cur.close()
       
    def updatedb(self, in_name, up_name):
        cur = self.conn.cursor()
        args = (in_name, up_name, 0)
        cur.callproc("sungjuk_update", args)
        cur.execute('SELECT @_sungjuk_update_2')
        result = cur.fetchone()
        
        if result==2 :
            print("수정할 이름이 없습니다.")
        else :
            print("성공적으로 수정하였습니다. ")
            
        cur.close()
        return result 
   
    def deletedb(self,in_name):
        cur = self.conn.cursor()
        args = (in_name, 0)
        cur.callproc("sungjuk_delete", args)
        cur.execute('SELECT @_sungjuk_delete_1')
        result = cur.fetchone()
        if result==2 :
            print("삭제할 이름이 없습니다.")
        else :
            print("성공적으로 삭제하였습니다. ")
        cur.close()
        return result

In [132]:
from math import  *
from statistics import *

class Management:  # 관리 클래스
    def __init__(self):
        self.maria = maria()
    def M_select(self):
        data = self.maria.selectdb()
        st = []
        if (data):
            for student in data:
                stp = Student()
                stp.name = student[0]
                stp.kor = student[1]
                stp.eng = student[2]
                stp.mat = student[3]
                st.append(stp)                    
            # studdata=Student((data))
            print(maria.schoolname + "  성적 계산표 ")
            print('%5s %5s %6s %6s %6s %6s  %6s %6s' % ('번 호', '이 름', '국 어',
                    '수 학',
                                                        
                                                        
                                                        '영  어', '총 점', '평 균', '학 점' ))      
            for stud in st:
                print( stud)                     
        else :
            print("데이터가 없습니다. . ")
           
    def M_insert(self):
        stu = Student()
        stu.inputData()
        self.maria.insertdb(stu.name, stu.kor, stu.mat, stu.eng)
    def M_update(self):
        name = input("검색할 이름을 입력하시요")
        replace_name = input("수정할 이름을 입력하시요")
        result=self.maria.updatedb(name, replace_name)  
    def M_delete(self):       
        name = input("검색할 이름을 입력하시요")
        self.maria.deletedb(name)

In [ ]:
import sys
class Menu():
    def __init__(self):
        self.manage = Management()
       
    def work(self):
        menu = [ "전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)"]
        manage = Management()
        while 1:
            sel = input(menu)
            if  sel == "1":
                manage.M_select()
                continue
            elif sel == "2":
                manage.M_insert()
                continue       
            elif sel =="3":
                manage.M_update()
                continue
            elif sel =="4":
                manage.M_delete()
            elif sel =="9":
                del(manage)
                sys.exit()
            else :
                print("잘못된 입력입니다. 다시입력 하시요")
                continue
           
menu = Menu()
menu.work()

테이블이 있습니다.
테이블이 있습니다.

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 2
이름 :  현
국어 점수 :  10
수학 점수 :  20
영어 점수 :  30
['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 3
검색할 이름을 입력하시요 현
수정할 이름을 입력하시요 동엽

성공적으로 수정하였습니다.

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 1

에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1     동엽     20     10       0       0
    0     2     동엽     20     10       0       0
    0     3     동엽     20     10       0       0
    0     4     동엽     20     10       0       0
    0     5     동엽     20     10       0       0
    0     6     동엽     20     10       0       0

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 1

에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1     동엽     20     10       0       0
    0     2     동엽     20     10       0       0
    0     3     동엽     20     10       0       0
    0     4     동엽     20     10       0       0
    0     5     동엽     20     10       0       0
    0     6     동엽     20     10       0       0

['전체검색(1), 입력(2), 수정(3), 삭제(4), 종료(9)'] 1

에이콘 아카데미  성적 계산표
  번 호   이 름    국 어    수 학   영  어    총 점     평 균    학 점
    0     1     동엽     20     10       0       0
    0     2     동엽     20     10       0       0
    0     3     동엽     20     10       0       0
    0     4     동엽     20     10       0       0
    0     5     동엽     20     10       0       0
    0     6     동엽     20     10       0       0